<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body>
    <h1>About us</h1>
    <section>
        <h2> Our purpose</h2>
        <p>Our site is a simple framework for experimenting with features. In a sense you could call this a</p>
        <p>kind of sandbox. Here we can test new concepts for features before we start to implement them into</p>
        <p>the main products we're working on</p>
    </section>
    <section>
        <h2>The devs</h2>
        <p>Currently this site is just operated by one dev, however as time goes on we'll hopefully</p>
        <p>be able to use this site to help out other devs we may work with down the line, or simply</p>
        <p>ones that might need an experimental sandbox such as this</p>
    </section>
</body>
</html>