<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cypher encryption</title>
    <link rel="stylesheet" href="/formstyle.css">
</head>
<body>
    <form action="/encrypt" method="post">
        <label for="inputtext">Please type the words you'd like to encrypt</label>
        <br>
        <input type="text" id="inputtext" name="inputtext" required>
        <br>
        <label for="key">Please type the key you'd like to use</label>
        <br>
        <input type="number" id="key" name="key" required>
        <br>
        <button type="submit">encrypt</button>
    </form>
    <% if (typeof encryptedText !== 'undefined') { %>
        <h2>Encrypted Text:</h2>
        <p><%= encryptedText %></p>
    <% } %>
    <section>
        <h2>back to startnav</h2>
        <p><a href="/">return</a></p>
    </section>
</body>