<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sitenav</title>
    <link rel="stylesheet" href="/startstyle.css">
</head>
<body>
    <h1>welcome to our testing site, here you'll find links to the features we're currently testing</h1>
    <section>
        <h2>features</h2>
        <ul>
            <li><a href="/encryptform">encrypt</a></li>
            <li><a href="/decryptform">decrypt</a></li>
        </ul>
    </section>
    <section>
        <h2>About us</h2>
        <p><a href="/about">About us</a></p>
     </section>
</body>